html(lang="en")
    head
        title CryptoCar

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        if !htmlWebpackPlugin.options.hot
            script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
            script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")

        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous")

        style.
            textarea, body {
                font-family: 'Lato', sans-serif;
            }
    body
        #app
        
        script.
            window.BASE_URL = '!{ htmlWebpackPlugin.options.baseUrl }'

        if !htmlWebpackPlugin.options.hot
            script(src=htmlWebpackPlugin.options.app)
